

/* =================================
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

 body {
     font-family: 'Raleway', sans-serif;
     background-color: #fafafa;
     text-align: center;

 }

 .main-header, .profile-image, .student-intro, .footer {
     padding: 15px;
 }

.main-header, .title, h3 {
    font-weight: bolder;
}

.main-nav, .gallery {
    list-style-type: none;
    padding: 0;
}

.main-nav a {
    text-align: center;
    display: block;
    padding: 15px 15px; /*   makes name and navigation links hover targets taller and wider. Easier to click*/
    background-color: white;
    margin: 5px;
    text-transform: uppercase;

}

a {
    color: #494540;
    text-decoration: none;

}

.profile-image {
    width: 62.5%;

}

.portfolio {
    background-color: white;
    width: 100%;
    padding: 15px;
}

ul.gallery img {
    width: 100%;
}

h2 {
    text-transform: uppercase;
    padding: 35px 0;
    margin-bottom: 0;
}

p {
    line-height: 25px;
}

.footer {
    margin: 0;
    width: 100%;
    text-align: center;
}

.prologue {
    border-bottom: #77736f solid 1px;
}

.epi-name {
    float: left;
}

.top {
    float: right;
    margin-top: 23px;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */




}

.name {
    margin-top: 0;
    padding-top: 25px;

}

/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */


/* ---- Float clearfix ---- */

.clearfix::after { /* Apply clearfix class to collapsing columns in html */
    content: " ";
    display: table;
    clear: both;
}

}