

/* =================================
  Base Element Styles
==================================== */
 body {
     font-family: 'Tajawal', sans-serif;

 }


/* =================================
  Base Layout Styles
==================================== */



/* ---- Navigation ---- */

/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */


/* ---- Float clearfix ---- */

.clearfix::after { /* Apply clearfix class to collapsing columns in html */
    content: " ";
    display: table;
    clear: both;
}

}