

/* =================================
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

 body {
     font-family: 'Roboto', sans-serif;
     background-color: #fafafa;
     text-align: center;
     color: #4a4a4a;
     font-size: 18px;


 }

 .main-header,
 .student-intro,
 .footer,
 .contact {
     padding: 15px;
 }

.main-header,
.title,
h3 {
    font-weight: bold;
}

.main-nav,
.gallery,
.contact-list {
    list-style-type: none;
    padding: 0;
}

.main-nav a {
    text-align: center;
    display: block;
    padding: 15px 15px; /*   makes name and navigation links hover targets taller and wider. Easier to click*/
    background-color: white;
    margin: 5px;
    text-transform: uppercase;
}

a {
    color: #4a4a4a;
    text-decoration: none;

}

.profile-image {
    width: 62.5%;

}


.portfolio {
    background-color: white;
    width: 100%;
    padding: 15px;
}

.title {
    margin-top: 0;
}


ul.gallery img {
    width: 100%;
}

h2 {
    text-transform: uppercase;
    padding: 35px 0;
    margin-bottom: 0;
}

p {
    line-height: 25px;
    color: #7F7F7F;
}

.footer {
    margin: 0;
    width: 100%;
    text-align: center;
}

.footer-nav {
    border-top: #e7e7e7 solid 1px;
}

.footer-name {
    float: left;
}

.contact-list,
.contact-list a  {
    color: #7F7F7F;
}

.top {
    float: right;
    margin-top: 23px;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}
/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



.name {
    margin-top: 0;
    padding-top: 25px;

}

/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */


/* ---- Float clearfix ---- */

.clearfix::after { /* Apply clearfix class to collapsing columns in html */
    content: " ";
    display: table;
    clear: both;
}

}